<mat-expansion-panel class="hotel-card"
                     (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ hotel.name }}
    </mat-panel-title>
    <mat-panel-description>
      {{ panelOpenState ? 'Shrink' : 'Expand' }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <img src="/assets/images/siema.png" alt="{{ hotel.name }}">
  <p>Location: {{ hotel.country }}, {{ hotel.city }}, {{ hotel.address }}</p>
  <a mat-raised-button color="primary" routerLink="/hotel/{{ hotel.id }}">Show more</a>
</mat-expansion-panel>
