.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  width: 300px;
}

p {
  margin-bottom: -10px;
}

h1 {
  margin-top: 50px;
  font-size: 50px;
}
