<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{ hotel.name }}</mat-card-title>
    <mat-card-subtitle>{{ hotel.country }}, {{ hotel.city }}, {{ hotel.address }}</mat-card-subtitle>
  </mat-card-title-group>
  <img mat-card-image src="/assets/images/siema.png">
  <mat-card-content>
    <h1>Opinions:</h1>
    <mat-card>
      <h4>Author   Rate</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem augue. Morbi ut nunc a elit vulputate eleifend. Ut ultrices cursus felis, a consectetur metus luctus eu. Mauris in diam et justo accumsan sollicitudin at ac massa. Nam ut ultricies libero, eget ornare sem. Phasellus sit amet nulla elit. Vivamus hendrerit commodo elit a bibendum.</p>
    </mat-card>
    <mat-card>
      <h4>Author   Rate</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem augue. Morbi ut nunc a elit vulputate eleifend. Ut ultrices cursus felis, a consectetur metus luctus eu. Mauris in diam et justo accumsan sollicitudin at ac massa. Nam ut ultricies libero, eget ornare sem. Phasellus sit amet nulla elit. Vivamus hendrerit commodo elit a bibendum.</p>
    </mat-card>
    <mat-card>
      <h4>Author   Rate</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lorem augue. Morbi ut nunc a elit vulputate eleifend. Ut ultrices cursus felis, a consectetur metus luctus eu. Mauris in diam et justo accumsan sollicitudin at ac massa. Nam ut ultricies libero, eget ornare sem. Phasellus sit amet nulla elit. Vivamus hendrerit commodo elit a bibendum.</p>
    </mat-card>
    <mat-card-actions>
      <a mat-raised-button color="primary">Reserve one of the rooms</a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
